@use './../../global';

.iframe {
  width: 100%;
  height: inherit;
}

.card-thumb {
  height: 100%;
}

img {
  background-color: global.$my-dark-blue;
}

.text-content {
  color: global.$my-dark-blue;
  font-family: 'BigBlue_TerminalPlus', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card-text {
  height: 86%;
}
