@use './../../global';

.iframe {
  width: 24em;
  height: 16em;
}

.card-thumb {
  height: 22em;
  margin-top: 1em;
}

img {
  background-color: global.$my-dark-blue;
}

.text-content {
  color: global.$my-dark-blue;
  font-family: 'BigBlue_TerminalPlus', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
