<div class="container">
  <div class="row justify-content-center pt-3 pt-md-4 ">
    <div class="col col-md-9 px-0">

      <div class="card mb-3">
        <div class="card-body">
          <h3 class="card-title text-content">Game based on original game released on C64 platform by L.K. Avalon (and as turned out many variations
            in
            other countries and other 8-bit platforms)</h3>
          <h5 class="card-title text-content">
            <a href="https://www.mobygames.com/game/c64/eoroid-acid-runner">Eoroid / Acid Runner (Commodore 64) on MobyGames</a>
          </h5>
          <h5 class="card-title text-content">
            <a href="http://www.gb64.com/game.php?id=2531&d=18">Eoroid on gamebase</a>
          </h5>
        </div>
      </div>




      <div class="row justify-content-between ">
        <div class="col-12 col-md mb-3 ">
          <div class="card card-thumb ">
            <div class="card-body">
              <h3 class="card-title text-content">SFX</h3>
              <p class=" card-text ">
                <!-- <iframe class="m-2 iframe" title="sfx-frame" width="320" height="240" src="https://www.youtube.com/embed/kPTYMxSWMsE" -->
                <iframe class="iframe" title="sfx-frame" src="https://www.youtube.com/embed/kPTYMxSWMsE"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md mb-3 ">
          <div class="card card-thumb ">
            <div class="card-body">
              <h3 class="card-title text-content">Credits from C64</h3>
              <p class="card-text ">
                <!-- <img class="iframe" width="320" height="240" src="./assets/eoroid-credits.png" alt="eoroid-credits.png"> -->
                <img class="iframe" src="./assets/eoroid-credits.png" alt="eoroid-credits.png">
              </p>
            </div>
          </div>
        </div>
      </div>









    </div>
  </div>








</div>
