<div class="d-md-none  footer justify-content-center align-self-center">
  <span class="footer-content text-sm">
    <a href="mailto:zielonyeufor@gmail.com?subject = FromEoroid2144&body = Message"> {{author}} </a>
  </span>
  <span class="footer-content text-sm">
    {{versionInfo}}</span>
</div>


<div class=" d-none d-md-block footer justify-content-center align-self-center">
  <span class="footer-content">
    <a href="mailto:zielonyeufor@gmail.com?subject = FromEoroid2144&body = Message"> {{author}} </a>
  </span>
  <span class="footer-content">
    {{versionInfo}}</span>
</div>
