<div *ngIf="areYouWin" class="row col p-4 d-flex justify-content-center you-win-label">
  <button type="button" class="btn btn-primary btn-block you-win-button" (click)="newGame()">You win!</button>
</div>

<div [ngClass]="{'dimmed-main-panel': areYouWin}">

    <div class="col d-flex justify-content-between p-0 m-auto">
      <button type="button" class="btn btn-primary button-badge " disabled>Moves: {{gameState?.movesCounter}}</button>
      <button type="button" class="btn btn-primary button-badge " disabled>Tiles Left: {{gameState?.tilesLeft}}</button>
      <button type="button" class="btn btn-primary button-badge " (click)="showSettings()">Difficulty: {{gameSettings?.difficultyLevel}}</button>
    </div>

    <div class="">
      <app-board class="d-flex justify-content-center text-center p-4" ></app-board>
    </div>

</div>
