<div *ngIf="areYouWin" class="row col p-4 d-flex justify-content-center you-win-label">
  <button type="button" class="btn btn-primary btn-block you-win-button" (click)="newGame()">You win!</button>
</div>

<div [ngClass]="{'main-panel': areYouWin}" class="main-panel">

  <div class="p-2 d-flex justify-content-between">
    <button type="button" class="btn btn-primary button-badge " disabled >Moves: {{gameState?.movesCounter}}</button>
    <button type="button" class="btn btn-primary button-badge " [routerLink]="[ '/settings']">Difficulty: {{gameSettings?.difficultyLevel}}</button>
  </div>



  <div class="">
    <app-board class="d-flex justify-content-center p-4"></app-board>
  </div>

</div>


<!-- <div>game status: {{youWin}}</div>

<div *ngIf="youWin.length<7">
  <button type="button" class="btn btn-primary btn-block">YOU WIN!</button>
</div>

<div class="">
  <button type="button" class="btn btn-primary" (click)="undoMove()">Undo Move</button>
</div>

<div>
  moves history
  <div *ngFor="let tile of clickedTilesHistory">x={{tile.coordX+1}}, y={{-tile.coordY+board.sizeY}}</div>
</div> -->
