.tile {
  background-color: darkblue;
  border-color: darkgoldenrod;
  border-width: 1px;
  border-style: solid;
  border-collapse: collapse;
}

.tile-internal-checked {
  background-color: darkgoldenrod;
  border-color: gold;
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
  border-collapse: collapse;
  width: 4em;
  height: 5em;



  // background-size: cover;
  // background-color: darkgoldenrod;
  // background-image: url('./../../assets/tile.png');
  // border-color: gold;
  // border-collapse: collapse;
  // width: 4em;
  // height: 5em;
  // background-repeat: no-repeat;
  // background-position: center;
}

.tile-internal-unchecked {
  background-color: darkblue;
  border-color: gold;
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
  border-collapse: collapse;
  width: 4em;
  height: 5em;
}

.tile-internal-checked-8bit {
  background-size: cover;
  background-color: darkgoldenrod;
  background-image: url('./../../assets/tile.png');
  border-color: gold;
  /* border-width: 2px; */
  /* border-style: solid; */
  /* border-radius: 10px; */
  border-collapse: collapse;
  width: 4em;
  height: 5em;
  background-repeat: no-repeat;
  background-position: center;
}
