@use './../global';

.app-container {
  // background-color: #000052;
  // color: #967f00;
  // max-width: 50%;
  text-align: center;
}

.main-menu {
  text-align: center;
}

.nav-button {
  min-width: 9em;
  width: 9em;
  margin-left: 15px;
}


.title {
  font-size: 3.3rem;
}
