@use './../global';

.navbar-brand-sm {
  width: 100%;
}

.navbar-brand-md {
  width: 92%;
}

.title {
  font-size: 3.3rem;
}

.logo {
  width: 100%;
}

.logo-md {
  width: inherit;
}


.nav-button {
  min-width: 30%;
}
