<div class="container">

  <div class="row">
    <!-- <div class=" col-md-3"> </div> -->

    <div class="p-0 col">
      <nav class="navbar navbar-expand-md navbar-dark bg-dark">

        <div class="row align-items-center">



          <div class="col col-md-6">
            <a class="navbar-brand d-md-none" href="/home">
              <img src="./../assets/eoroid-logo-2144.png" class="logo" alt="eoroid-logo-2144">
            </a>

            <a class="navbar-brand-md d-none d-md-block" href="/home">
              <img src="./../assets/eoroid-logo-2144.png" class="logo-md" alt="eoroid-logo-2144">
            </a>
          </div>


          <div class="col-3 col-md-6 sml-auto">

            <button class="ps-2 navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
                    aria-controls="navbarTogglerDemo02"
                    aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class=" collapse navbar-collapse" id="navbarTogglerDemo01">

              <!-- <div class="container"> -->

              <div class="row align-items-center justify-content-end mxl-auto ">

                <button type="button" class="col-3 btn btn-primary nav-button m-2" [routerLink]="'/home'">
                  <i class="fas fa-question-circle "></i>Help
                </button>
                <button type="button" class=" col-3 btn btn-primary nav-button m-2" [routerLink]="'/credits'">
                  <i class="fas fa-laptop-code"></i> Credits
                </button>
                <div class="w-100"> </div>
                <!-- </div>


            <div class="row align-items-cexnter justify-content-end  "> -->
                <button type="button" class="col-3 btn btn-primary nav-button m-2" (click)="newGame()" [routerLink]="'/game'">
                  <i class="fas fa-dice-five "></i>New Game
                </button>
                <button type="button" class="col-3 btn btn-primary nav-button m-2" (click)="restartGame()" [routerLink]="'/game'">
                  <i class="fas fa-redo-alt "></i>Restart
                </button>
                <button type="button" class="col-3 btn btn-primary nav-button m-2" (click)="showSettingsModal()">
                  <i class="fas fa-cogs "></i> Settings
                </button>
                <!-- </div> -->

              </div>


            </div>
          </div>



        </div>
      </nav>


    </div>
  </div>
</div>


<!--
          <ul class="navbar-nav mr-auto mt-2 xmt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Disabled</a>
            </li>
          </ul>
          <form class="form-inline my-2 xmy-lg-0">
            <input class="form-control xmr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 xmy-sm-0" type="submit">Search</button>
          </form> -->


<!-- <div class="pt-2">
          <router-outlet></router-outlet>
        </div> -->



<!-- <div class=" col-md-3"> </div> -->
<!-- </div> -->
<!-- </div> -->



<!-- <app-footer></app-footer> -->
