<div class="container">
  <div class="row justify-content-center pt-3 pt-md-4 ">
    <div class="col col-md-9 px-0">
      <div class="card">
        <div class="card-body">
          <h1 class="card-title text-content text-center">ВНИМАНИЕ, ВНИМАНИЕ!</h1>
          <p class="card-title text-content">
            In 2020 terrible virus poking mankind...</p>

          <p>
            ...Comrades him self-unleashed AI machine called S.H.O.D.A.N. (Sentient Hyper-Optimized Data Access Network) designed on gazillions FPGA
            arrays worth of all cebullions that ZUS gathered in his whole existence...

          </p>
          <p>
            ... looks that there is no hope... but... as famous Ph.D Emmet Brown states: There is one uncertain way to make it ...

          </p>

          <p>
            ...lights off all of his LUT tables...

          </p>
          <p>
            ...This task is not easy, but if you want to go outside ever again you need to do it by lights off every single cell...
            But by clicking on single cell you turn it out but lights up adjacent ones. You have graduate at University of Cunningness, so be cunning
            and patient as well, you have plenty of time, but to be honest I doubt you can make it, like Shodan says:
          </p>
          <p> <i>'L-L-Look at you, hacker: a pathetic creature of meat and bone, panting and sweating as you run through my corridors. How can you
              challenge a perfect, immortal machine?</i></p>
        </div>

        <button type="button" class="btn btn-primary mx-4 mb-4 mt-1 text-center" (click)="newGame()" [routerLink]="'/game'"> Start Game</button>
      </div>
    </div>
  </div>
</div>
