/* You can add global styles to this file, and also import other style files */
@use './global';

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

// $fa-font-path: "~font-awesome/fonts";
// @import '~font-awesome/scss/font-awesome';

// $fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
// @import '~@fortawesome/fontawesome-free/scss/fontawesome';

// $fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
// @import '~@fortawesome/fontawesome-free/css/all';
// @import '~@fortawesome/fontawesome-free/scss/fontawesome';

html,
body {
  background-color: global.$my-dark-blue;
  color: global.$my-dark-gold;
  font-family: 'droid-lover', 'Jura', 'arial', sans-serif;
  overflow-x: hidden;
  margin-bottom: 0.75rem;
}

.btn {
  color: global.$my-light-gold;
  // background-color: #00008b;
  background-color: global.$my-dark-blue;
}

.fas {
  margin: 0.25rem;

}

svg {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

@font-face {
  font-family: droid-lover;
  src: url(assets/DroidLover-M6Ox.ttf) format("truetype");
  font-size: inherit;
  font-weight: 600;
}

@font-face {
  font-family: FrozenCrystalSuperItalic;
  src: url(assets/FrozenCrystalExpanded-xzK0.otf) format("truetype");
  font-size: inherit;
  font-weight: 600;
}


@font-face {
  font-family: BigBlue_TerminalPlus;
  src: url(assets/BigBlue_TerminalPlus.ttf) format("truetype");
  font-size: inherit;
  font-weight: 600;
}


@font-face {
  font-family: RustingRobotica;
  src: url(assets/RustingRobotica-op6d.ttf) format("truetype");
  font-size: inherit;
  font-weight: 600;
}
